*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #9a5;
    width: 100%;
    height: auto;
}

main{
    height: 96vh;
}

header{
    background-color: #ba7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid;
}

nav a{
    padding: 16px;
    margin: 16px;
    color: #000;
    font-size: 24px;
}

.container{
    /*margin-top: 38px;*/
    margin: 15px;
}

.tipo{
    /*border: solid;*/
    margin: 10px;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px;
    background-color: #ba7;
}

.tipo:hover{
    box-shadow: 0 5px 0 #000;
    border: solid;
}

.list_cambio{
    list-style-type: none;
}

h1{
    color: #000;
    font-size: 36px;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
}


.table{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.table table{
    border: 1px solid #000000;
    border-collapse: collapse; /*hace que se peguen las lineas*/
}

.tipo_cambio, h2{
    text-align: center;
}

ul{
    padding: 5px 20px;
}


table{
    padding: 15px 20px;
}

.table table th, table td{
    border: 1px solid #000000;
}

td{
    text-align: center;
    padding: 15px 20px;
}

th{
    text-align: center;
    padding: 15px 20px;
}

.pagina{
    font-size: 64px;
    text-align: center;
    color: #000000;
}

footer{
    background: #ba7;
    padding: 10px;
    bottom: 0vh;
    position:absolute;
    width: 100%;
    text-align: center;
    border-top: solid;
}

